@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: sans-serif;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../IMG/eilat11.jpg);  
}

h1
{
    position: relative;
    text-align: center;
    color: goldenrod;
}

#x
{
    color: royalblue;
    font-size: 35px;
}



#a
{
    margin-top: -10px; 
    height: 450PX;   
    margin-left:250px;
}

#b
{   
    padding-bottom: 50px;
    margin-left:550px;
    margin-top: -450px;
    height: 450PX; 
    width: 450PX;  
    margin-left:750px;
}

#c
{
    height: 470PX; 
    width: 450PX;
    margin-left:250px;
  
}

#d
{
    height: 470PX; 
    width: 450PX;
    margin-left:750px;
    margin-top: -450px;
}

.card{
    text-align: center;
    position: relative;
    width: 500px;
    height: 270px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
    background-position: center;
    background-size: cover;
  }

 
 .card4{
   background-image: url(../IMG/eilatKing.jpg);
   margin-left:480px;
  }
 
 .card:hover{
   transform: translateY(-10px);
 }
 
 h4{
   color: white;
   text-shadow: 0 0 10px crimson;
 }
 
 #pi{
   color:crimson;
   text-shadow: 0 0 10px royalblue;
 }
 
 .container{
   position: relative;
   align-items: center;
   
 }

 .btn {
  background-color: crimson; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
