@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: sans-serif;
    letter-spacing: 4px;
}

h1{
    color: white;
    text-align: center;
    position: relative;
    bottom: -20vh;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../IMG/night_vacation.jpg);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.btn-1{

    width: 300px;
    height: 100px;
    border: none;
    color: rgb(255, 255, 255);
    background-color:royalblue;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.btn-1:hover{
    box-shadow: inset 300px 0 0 0 #fff;
    cursor: pointer;
    color:royalblue;
}

.btn {
    background-color: rgb(49, 92, 221);; /* Blue background */
    border: none; 
    color: white;
    padding: 12px 16px;
    font-size: 16px; 
    cursor: pointer; 
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(49, 92, 221);
  }
