@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: sans-serif;
    letter-spacing: 4px;
}

h1{
    color: white;
    text-align: center;
    position: relative;
    bottom: -20vh;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("night_vacation.jpg");
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.btn-1{

    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color:royalblue;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.btn-1:hover{
    box-shadow: inset 300px 0 0 0 #fff;
    cursor: pointer;
    color:royalblue;
}

.btn-2{
    width: 300px;
    height: 100px;
    border: none;
    color: white; 
    border-radius: 4px; 
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid gold;
    position: relative;
    z-index: 1;
    background-color: black;
}

.btn-2:hover{
    color: #000;
    cursor: pointer;
}

.btn-2::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color:gold;
}

.btn-2:hover:before{
    
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


