@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: sans-serif;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(isreal1.jpg);  
}

h1
{
    position: relative;
    text-align: center;
    color: rgb(13, 230, 245);
}

#x
{
    color: rgb(13, 172, 245);
    font-size: 40px;
}

.a
{
   
}

.b
{
    
}
.c 
{

}
