@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: sans-serif;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../IMG/isreal1.jpg);  
}

h1
{
    position: relative;
    text-align: center;
    color:rgb(13, 172, 245);
    font-size: 40px;
}

#x
{
    color: #fff;
    font-size: 30px;
}

#a
{
    margin-top: -20px; 
    margin-left:250px;
    width: 440px;  
    height: 300PX;  
}
#b
{
    margin-top: -370px; 
    height: 280PX; 
    width: 440px;  
    margin-left:800px;
}
#c
{
    margin-top: 50px; 
    height: 300PX; 
    width: 840px;  
    margin-left:350px;
}
.card{
    text-align: center;
    position: relative;
    width: 500px;
    height: 350px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
    background-position: center;
    background-size: cover;
  }
 
  .card1{
   background-image: url(../IMG/ta1.jpg);
 }
 
 .card2{
   background-image: url(../IMG/eilat.jpg);
 }
 
 .card3{
   background-image: url(../IMG/jerusalem1.jpg);
   margin-left: 280px;
   
 }
 
 
 
 .card:hover{
   transform: translateY(-10px);
 }
 
 h4{
   color: #fff;
   text-shadow: 0 0 5px #999;
 }
 
 #pi{
   color:white;
 }
 
 .container{
   position: relative;
   align-items: center;
   margin: 200px;
 }
