@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background-image: url('ta2.jpg');
  }

  h1{
      position: relative;
      text-align: center;
      color: white;
  }

#x{
    color:yellow;
    font-size: 20px;
}

 #a{
    width: 400px;
    height: 400px;
}

 #b{
    width: 400px;
    height: 400px;
}

 #c{
    width: 400px;
    height: 400px;
   margin-right: 30px;
   margin-left:500px;
  margin-top: -500px;
  margin-bottom:  700px;
  top: -900px;
}

 #d{
    width: 400px;
    height: 400px;
}
