@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../IMG/beach.jpg);
}

.btn11
{
    background-color: #20dbc2;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    flex-wrap: wrap;
    z-index: 1;
}


.container .card
{
    position: relative;
    width: 280px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content
{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;  
}

.container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2
{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3
{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card .content p
{
font-size: 1em;
color: #fff;
font-weight: 300;
}

.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.middle{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    bottom: 900px;
}

.btn{
    background: none;
    border: 2px solid #20dbc2;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    bottom: -280px;
    font-size: 20px;
    margin-top: 30px;
}

.btn:hover{
color: #fff;
}

.btn::before{
   content: "";
   position: absolute; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: #20dbc2;
   z-index: -1;
   transition: transform 0.5s;
   transform-origin: 0 0;
   transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.btn2::before{
    transform: scaleY(0); 
 }

 .btn2:hover::before{
    transform: scaleY(1);
 }

h1{
    text-align: center;
    position: relative;
    color: #fff;
}

#x{
    color:rgb(233, 119, 78);
    font-size: 40px;
}

.y{
    text-align: center;
    position: relative;
    color:#dbc820;
    font-size: 30px;
    bottom: 30px;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
