# Vbody{
  background: #dedede;
  margin: 0;
  padding: 0;  
}

.dropdwn{
    margin: 0 auto;
}

nav{
height: 60px;
background: #027df8;
box-shadow: 0 10px 15px rgba(247, 3, 3, 0.1);
}


#x{
    font-family: 'Lobster', cursive;
   color: skyblue;
}

#ben{
    font-family: 'Indie Flower', cursive;
}

#abba{
    font-family: 'Indie Flower', cursive;
}

#ben2{
    font-family: 'Indie Flower', cursive;
}

#hello{
    font-family: 'Indie Flower', cursive;
}acationTime
